<form action="{{ template.id ? path('templates_edit', {id: template.id}) : path('templates_create') }}" method="post">

	<div id="fields">
		<div class="card">
			<label for="name">Nom du template</label>
			<input type="text" id="name" name="name">
		</div>

        {% set data = template.data %}

		<div class="card">
			<label for="stickyHeader">Garder visible le menu au scroll</label>
			<input type="checkbox" id="stickyHeader" name="stickyHeader" {{ (data.stickyHeader  ?? true) ? 'checked="1"' }}>
		</div>

		<div class="card">
			<label for="reverseRow">Inverser les colonne d'informations</label>
			<input type="checkbox" id="reverseRow" name="reverseRow" {{ (data.reverseRow  ?? false) ? 'checked="1"'}}>
		</div>

		<div class="card">
			<label for="specialButtonForTicket">Inverser les types de contact</label>
			<input type="checkbox" id="specialButtonForTicket" name="specialButtonForTicket" {{ (data.specialButtonForTicket ?? false) ? 'checked="1"'}}>
		</div>

		<div class="card">
			<label for="contactMapFirst">Inverser les colonnes d'informations</label>
			<input type="checkbox" id="contactMapFirst" name="contactMapFirst" {{ (data.contactMapFirst  ?? false) ? 'checked="1"'}}>
		</div>

		<div class="card">
			<label for="changeCheckBoxSelect">Changer les coches par des listes</label>
			<input type="checkbox" id="changeCheckBoxSelect" name="changeCheckBoxSelect" {{ (data.changeCheckBoxSelect  ?? false) }}>
		</div>

		<div class="card">
			<label for="whiteColor">Couleur blanche</label>
			<input type="color" id="whiteColor" name="whiteColor" value="{{ data.changeCheckBoxSelect  ?? "#FFFFFF" }}">
		</div>

		<div class="card">
			<label for="darkColor">Couleur noir</label>
			<input type="color" id="darkColor" name="darkColor" value="{{ data.changeCheckBoxSelect  ?? "#040404" }}">
		</div>

		<div class="card">
			<label for="primaryColor">Couleur primaire</label>
			<input type="color" id="primaryColor" name="primaryColor" value="{{ data.changeCheckBoxSelect  ?? "#F8CB2E" }}">
		</div>

		<div class="card">
			<label for="secondaryColor">Couleur secondaire</label>
			<input type="color" id="secondaryColor" name="secondaryColor" value="{{ data.changeCheckBoxSelect  ?? "#EE5007" }}">
		</div>

	</div>

	<button type="submit">
		Valider
	</button>
</form>

