<form class="templateFields" action="{{ template.id ? path('templates_edit', {id: template.id}) : path('templates_create') }}" method="post">

	<div id="fields">
		<div class="card nameTemplate">
			<label for="name">Nom du template</label>
			<input type="text" id="name" name="name" required value="{{ template.name ?? null }}">
		</div>

		{% set data = template.data %}
		<p>Paramètres du template</p>
		<div id="containerCheckbox">
			<div class="checkboxColumn">
				<div class="card">
					<label for="stickyHeader">Garder visible le menu au scroll</label>
					<input type="checkbox" id="stickyHeader" name="stickyHeader" {{ (data.stickyHeader ?? true) ? 'checked="1"' }}>
				</div>

				<div class="card">
					<label for="reverseRow">Inverser les colonne d'informations</label>
					<input type="checkbox" id="reverseRow" name="reverseRow" {{ (data.reverseRow ?? false) ? 'checked="1"'}}>
				</div>
			</div>
			<div class="checkboxColumn">
				<div class="card">
					<label for="specialButtonForTicket">Spécialiser le bouton d'achat de billet</label>
					<input type="checkbox" id="specialButtonForTicket" name="specialButtonForTicket" {{ (data.specialButtonForTicket ?? true) ? 'checked="1"'}}>
				</div>

				<div class="card">
					<label for="contactMapFirst">Inverser les types de contact</label>
					<input type="checkbox" id="contactMapFirst" name="contactMapFirst" {{ (data.contactMapFirst ?? false) ? 'checked="1"'}}>
				</div>
				<div class="card">
					<label for="changeCheckBoxSelect">Changer les coches par des listes</label>
					<input type="checkbox" id="changeCheckBoxSelect" name="changeCheckBoxSelect" {{ (data.changeCheckBoxSelect ?? false) }}>
				</div>
			</div>
		</div>
		<p>Couleurs du template</p>

		<div id="containerColor">
			<div class="colorColumn">
				<div class="card">
					<label for="whiteColor">Couleur blanche</label>
					<input type="color" id="whiteColor" name="whiteColor" value="{{ data.whiteColor ?? "#FFFFFF" }}">
				</div>

				<div class="card">
					<label for="darkColor">Couleur noir</label>
					<input type="color" id="darkColor" name="darkColor" value="{{ data.darkColor ?? "#040404" }}">
				</div>
			</div>
			<div class="colorColumn">
				<div class="card">
					<label for="primaryColor">Couleur primaire</label>
					<input type="color" id="primaryColor" name="primaryColor" value="{{ data.primaryColor ?? "#F8CB2E" }}">
				</div>

				<div class="card">
					<label for="secondaryColor">Couleur secondaire</label>
					<input type="color" id="secondaryColor" name="secondaryColor" value="{{ data.secondaryColor ?? "#EE5007" }}">
				</div>
			</div>
		</div>

	</div>

	<button type="submit">
		Valider
	</button>
</form>

